<html>
<head>
  <title>Contact App</title>
</head>
<body>
  <h1 class='margins'> Contacts </h1>
  <table id='contacts-table' class='margins'>
    <% @contacts.each do |contact| %>
      <tr>
        <td> <img src='<%= contact.image %>'> </td>
        <td class='name'> <%= contact.first_name %> <%= contact.last_name %> </td>
        <td class='number'> <%= contact.phone_number %> </td>
        <td> <%= button_to(contact_url(contact), method: :delete, class: :close) do "X" end %></td>
      </tr>
    <% end %>
  </table>
  <div id='buttons' class='margins'>
    <button id='add-contact-button'> Add Contact </button>
    <button id='import-contacts-button'> Import Contacts </button>
    <button id='export-contacts-button'> Export Contacts </button>
    <button id='event-tracker-button'> Event Tracking </button>
  </div>

    <form action='<%= contacts_url %>' method='POST' class='form show' id='add-contact-form'>
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
      <% if flash[:errors] %>
        <ul class='margins'>
          <% flash[:errors].each do |error| %>
            <li class='red'>
              <%= error %>
            </li>
          <% end %>
        </ul>
      <% end %>
      <ul class='form-inputs-list'>
        <li>
          <label for='first-name'>First Name</label>
          <input type='text' id='first-name' class='input' name='contact[first_name]' value='<%= @contact.first_name %>'>
        </li>
        <li>
          <label for='last-name'>Last Name</label>
          <input type='text' id='last-name' class='input' name='contact[last_name]' value='<%= @contact.last_name %>'>
        </li>
        <li>
          <label for='number'>Phone Number</label>
          <input type='text' id='number' class='input' name='contact[phone_number]' value='<%= @contact.phone_number %>'>
        </li>
        <li>
          <label for='image'>Image Url</label>
          <input type='text' id='image' class='input' name='contact[image]' value='<%= @contact.image %>'>
        </li>
      </ul>

      <button type='submit' id='add-submit' class='submit'>Add To Contacts</button>
    </form>
    
    <form class='form hide' action='<%= contacts_import_url %>' id='import-contacts-form' method='POST'>
      <input
        type="hidden"
        name="authenticity_token"
        value="<%= form_authenticity_token %>">
      <textarea name='contacts[json]'></textarea>
      <button type='submit' id='import-submit' class='submit'>Import Contacts</button>
    </form>
    
    <form class='form hide' id='export-contacts-form'>
      <textarea><%= @contacts.to_json(except: [:created_at, :updated_at, :id]) %></textarea>
    </form>
    
    <form class='form hide' id='stats-form'>
      <textarea><%= display_events %></textarea>
    </form>

</body>
</html>